.chat {
    .sider {
      background-color: $orange200;
      padding: 20px;
      border-radius: 20px;
      height: calc(100vh - 120px);
      overflow: auto;
  
      .plus-btn {
        width: 40px;
        border-radius: 50px !important;
      }
  
      .room-list {
        .room {
          background-color: $orange200;
          border: 1px solid $orange500;
          padding: 20px;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
  
          h4 {
            font-weight: 600;
            margin: 0;
          }
  
          p {
            color: #00000050;
            margin: 0;
            font-size: 14px;
          }
  
          &.active,
          &:hover {
            border: 1px solid $orange400;
            background-color: $orange400;
          }
        }
      }
    }
  
    .chat-room {
      background-color: $orange200;
      padding: 20px;
      border-radius: 20px;
      height: calc(100vh - 120px);
  
      .inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        .room-header {
          height: 58px;
          background-color: $orange200;
          z-index: 999;
        }
  
        .room-body {
          height: calc(100% - 60px);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          overflow-x: hidden;
          overflow-y: hidden;
  
          .msg-list {
            overflow-x: hidden;
            overflow-y: auto;
            padding-bottom: 20px;
  
            .chat-msg-item {
              .content {
                display: inline-block;
                background-color: $orange300;
                padding: 10px 20px;
                border-radius: 10px;
              }
            }
          }
  
          .send-msg {
            background-color: $orange200;
            z-index: 999;
            text-align: end;
            margin: 0 2px;
  
            .ant-form-item {
              margin-bottom: 0 !important;
            }
  
            .send-btn {
              width: 40px;
              border-radius: 50px !important;
            }
          }
        }
      }
    }
  }