.item {
  margin-bottom: 15px;
  padding: 15px 20px !important;
  border-radius: 4px;
  background-color: #fff;

  .bar {
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .content {
    margin: 0 20px !important;
  }
}
