//darker orange background #D45101
//orange background #DE7615
//light orange background #F09135
//near black bar #F09135
//black bar #000000
//large font #DDDDBB
//normal text #FFFFFF
.a {
  color: #d45101;
  color: #de7615;
  color: #f09135;
  background-color: #151515;
  background-color: #000000;
  color: #ddddbb;
  color: #ffffff;
}
.darkOrange {
  background-color: #d45101;
}
.orange {
  background-color: #de7615;
}
.lightOrange {
  background-color: #f09135;
}
.nearBlack {
  background-color: #151515;
}
.black {
  background-color: #000000;
}
.lightGrey {
    color: #ddddbb;
}
.white {
    color:white
}